* {
    box-sizing: border-box;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS here */
}

:root {
    background-color: rgb(192, 192, 192);
    color: #868686;
    font: 1rem "PT Sans", sans-serif;
}

body {
    margin: 0 0 0;
    padding: 0 0 0;
    padding-right: 20px;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.hidden {
    display: none;
}

#noscript-div {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 300vw;
    background-color: black;
    filter:alpha(opacity=50); 
    -moz-opacity: 0.5; 
    opacity: 0.5; 
}

.noscript {
    z-index: 999;
    width: 95vw;
    height: 110px;
    top: 20px;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    float: center;
}

.noscript span {
    width: 45vw;
    padding: 20px 0 20px;
    background: white;
    border-top: 10px solid rgba(80, 7, 7, 0.452);
    box-shadow: 0 1px 6px 0 rgba(116, 0, 0, 0.363);
    border-radius: 4px;
    font-size: 20px;
    min-width: 520px;
}


/*  SEARCH FORM  */

#keyword-search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 65px;
    margin-left: 50px;
}

#keyword-search-container {
    margin-bottom: 5vh;
    width: 100vw;
}

.form-field {
    font: inherit;
    background: rgb(255, 255, 255);
    width: 400px;
    color: #a3a3a3;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.13);
    border: 0;
    outline: 0;
    padding: 22px 18px;
}

#keyword-search-submit {
    background: #7c8bee;
    font: inherit;
    color: white;
    border: none;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

#keyword-search-submit:hover {
    background: #6376f1;
}

#keyword-search-submit:focus {
    background: #4b61ee;
}

.btn {
    background: #7c8bee;
    height: 70%;
    width: 100px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.158);
    transition: all 100ms ease-in;
}

.btn:hover {
    background: #6376f1;
}

.btn:focus {
    background: #4b61ee;
}

.btn:active {
    background: #4b61ee;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.btn--offset {
    margin-left: -50px;
}

.uppercase {
    text-transform: uppercase;
}

/*   TABLE   */

.results-section {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* height: 64px; */
    visibility: hidden;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.158);
}

.table-wrapper {
    overflow: auto;
    width: 100%;
    max-height: 434px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.table-wrapper tr {
    width: 800px;
}

table {
    border-collapse: separate;
    border-spacing: 0; 
    background: white;
    box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.158);
    width: 100%;
}

th:last-child {
    border-radius: 0 6px 0 0;
}

table, th, td {
    text-align: center;
}

th, td {
    padding: 0 15px 0;
}

th {
    line-height: 4;
    background: #7c8bee;
    color: white;
}

td {
    line-height: 2.5;
}

.table-wrapper tr:nth-child(even){
    background-color: #f1f1f1;
}

.table-wrapper tr:hover{
    background-color: #e7e7e7;
}

.colorify-1 {
    color: #9c9c9c;
}

.colorify-2 {
    color: blue;
}
.colorify-3 {
    color: green;
}

.selected {
    background-color: #c4c4c4;
}

.unselected {
    background-color: inherit;
}

.table-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #7c8bee;
    padding-left: 15px;
    padding-right: 30px;
    text-align: left;
}

.table-head * {
    display: block;
}

.result-row {
    margin: 0 100px 0;
}

.left {
    text-align: left;
    padding-left: 30px;
    width: 150px;
}

.center {
    text-align: left;
}

.right {
    text-align: left;
    padding-right: 30px;
    padding-left: 0;
    width: 90px;
    line-height: 1.5;
}

.right-head {
    
    margin-left: 55px;
}

.left-head {
    margin-right: 55px;
}

.feedback {
    height: 0px;
    background: #969696; 
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 40px 0;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.158);
}


/*  ALERT  */

#alert {
    top: 15vh;
    background: transparent;
    color: #9c9c9c;
    width: 350px;
    max-height: 0px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
}

#alert-message {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
    height: 100px;
    width: 290px;
    overflow: hidden;
    background: white;
    border-top: 10px solid rgba(80, 7, 7, 0.452);
    box-shadow: 0 1px 6px 0 rgba(116, 0, 0, 0.363);
    border-radius: 4px;
}

.alert-ok {

    z-index: 3;
    width: 200px;
    height: 60px;
    line-height: 1;
    font-size: 1rem;
    /*justify-self: end;
    margin-top: auto;
    margin-bottom: 40px;*/
    color: rgba(255, 255, 255, 0.918);
    background: #7c8bee;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.158);
    transition: all 100ms ease-in;
    margin-bottom: 20px;
}

.alert-ok:hover {
    background: #6376f1;
}


.alert-ok:hover {
    background: #6376f1;
    cursor: pointer;
    color: white;
}

.alert-ok:focus {
    background: #4b61ee;
}

.alert-ok:active {
    background: #4b61ee;
    box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.alert-ok--offset {
    margin-top: -30px;
}
